body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: blueviolet;

  &:hover {
    color: darkslateblue;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid black;
  padding: 0.5em 0;

  a {
    font-size: 2em;
    padding-right: 1em;
  }
}

table {
  border-collapse: collapse;

  tr {
    td,
    th {
      border: 1px solid slategray;
      padding: 0.25em;
    }
  }
}

form {
  .errors {
    p {
      color: darkred;
    }
  }

  fieldset {
    margin-bottom: 1em;
  }
}
